<md-dialog flex="30">
    <md-subheader><h3 class="modal-title text-center">Add An Organization</h3></md-subheader>
	<md-content>
	    <div layout="row" layout-align="center">
			<form class="form-horizontal" name="modal.organizationForm">
				<md-text-float class="long" label="Organization Name" ng-model="modal.organizationName"></md-text-float>
			</form>
		</div>
	<md-content>
	<div class="md-actions" layout="row" layout-align="center end">
		<md-button class="md-raised md-warn" ng-click="modal.closeModal()">Cancel</md-button>
		<md-button class="md-raised md-primary" ng-click="modal.createOrganization(modal.organizationName)">Add</md-button>
	</div>
<md-dialog>