/*============================================================*/
/*===================Table Of Contents========================*/
/*============================================================*/
/*=Variables==================12==============================*/
/*=Mixins=====================19==============================*/
/*=Toolbar Styles=============27==============================*/
/*=Dialog/Modal Styles =======31==============================*/
/*=Btn Styles ================41==============================*/
/*=Organization ==============53==============================*/
/*============================================================*/

// Variables ====================================================================
$white  : #ffffff;
$black : #000000;
$okraGreen : #0D8120;
$okraLightGreen: #139E2A;
$grey: #C2C5C3;

// Mixins ========================================================================
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Toolbar Styles =================================================================
md-item {
	margin: 0px 10px;
}
// Dialog/modal styles =========================================================
.md-dialog-container {
	md-dialog:first-child {
		padding: 15px;
	}

	md-content {
		padding-bottom: 0px;
	}
}
// Btn Styles ==================================================================
.md-raised {
	padding: 5px 10px;
}

.md-button {
	text-transform: none;
}
// Input and form fields =======================================================
md-input-group.long > input {
    width: 264px; 
}
// Organization ================================================================
.organization-wrapper {
	.row {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.btn-danger, .btn-info {
		padding: 5px 10px;
		margin-left: 10px;
	}
}

.centered-container {
	margin: 0 auto;
	display: table;

	.well {
		width: 500px;
	}
}

.centered-container + .centered-container {
	margin-top: 15px;
}

.tree-node {
	padding: 20px 20px;
	background-color: $grey;
	@include border-radius(5px);
	color: $white;
}

.tree-node.active {
	background-color: $okraGreen;
}

.task-node {
	background-color: $okraLightGreen;
	padding: 10px 10px;
	color: $white;
	@include border-radius(5px);
	min-width: 100px;
	margin-top: 10px;
}

.objective + .objective {
	margin-left: 50px;
}
