/*============================================================*/
/*===================Table Of Contents========================*/
/*============================================================*/
/*=Variables=========11=======================================*/
/*=Navbar Styles=====24=======================================*/
/*=Modal Styles =====36=======================================*/
/*=Btn Styles =======58=======================================*/
/*============================================================*/

// Variables ====================================================================
$white  : #ffffff;
$black : #000000;
$okraGreen : #0D8120;
$okraLightGreen: #139E2A;

// Navbar Styles =================================================================
.navbar {
	background-color: $okraGreen;
}

.navbar-default, .navbar-brand {
	color: $white; 

	.navbar-nav > li > a{
		color: $white;
	}

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus,
	.navbar-nav > li > a:active {
		color: $white;
		font-weight: 700;
	}
}
.navbar-right {
	i:hover, i:active, i:focus {
		color: $okraLightGreen;
	}
}
// Modal Styles =================================================================
.modal-content {
	.modal-title {
		color: $okraGreen;
	}

	.modal-header {
		i {
			position: relative;
			top: -40px;
			color: $okraGreen;
		}
	}

	.modal-body {
		label {
			color: $okraGreen;
		}
	}
}
// Btn Styles ==================================================================
.btn-primary {
	color: $white;
	background-color: $okraGreen;
	border-color: $black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: $okraLightGreen;
	border-color: $black;
}

.btn-default {
	color: $okraGreen;
}

.btn-default:hover, .btn-default:focus, .btn-default:active  {
	color: $okraLightGreen;
}

