/*============================================================*/
/*===================Table Of Contents========================*/
/*============================================================*/
/*=Variables==================12==============================*/
/*=Mixins=====================19==============================*/
/*=Toolbar Styles=============27==============================*/
/*=Dialog/Modal Styles =======31==============================*/
/*=Btn Styles ================41==============================*/
/*=Organization ==============53==============================*/
/*============================================================*/

// Variables ====================================================================
$white  : #ffffff;
$black : #000000;
$okraGreen : #0D8120;
$okraLightGreen: #139E2A;
$grey: #C2C5C3;

// Mixins ========================================================================
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Toolbar Styles =================================================================
md-item {
	margin: 0px 10px;
}
// Dialog/modal styles =========================================================
.md-dialog-container {
	md-dialog:first-child {
		padding: 15px;
	}

	md-content {
		padding-bottom: 0px;
	}
}
// Btn Styles ==================================================================
.md-raised {
	padding: 5px 10px;
}

.md-button {
	text-transform: none;
}
// Input and form fields =======================================================
md-input-group.long > input {
    width: 264px; 
}

md-checkbox:focus .md-label {
	border-color: transparent;
}
// Organization ================================================================
.organization-wrapper {

	.tree-node {
		padding: 20px 20px;
		background-color: $grey;
		@include border-radius(5px);
		color: $white;
	}

	.tree-node.active {
		background-color: $okraGreen;
	}

	.task-node {
		background-color: $okraLightGreen;
		padding: 10px 10px;
		color: $white;
		@include border-radius(5px);
		min-width: 100px;
		margin-top: 10px;
	}

	.objective + .objective, .key-result + .key-result {
		margin-left: 50px;
	}

	[layout-align="center center"], [layout-align="center"] {
		margin-top: 25px;
	}

	.md-button {
		padding: 3px 8px;
		margin-left: 10px;
	}

	.md-button + .md-button {
		margin-top: 5px;
	}
}

