.address {
    position: relative;
    font-style: normal;
    line-height: 1.5;
    padding: $padding-base * 2;
    border: 1px solid $color-gray-lighter;
    border-radius: 2px;

    .edit-address-link {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
}
