/**
 * Button Foundations
 *
 * Heavily borrowed from Inuit:
 * https://github.com/inuitcss/objects.buttons/blob/master/_objects.buttons.scss
 */

$btn-default-padding: $padding-base !default;
$btn-default-padding--small: halve($btn-default-padding) !default;
$btn-default-padding--large: double($btn-default-padding) !default;

$btn-default-border-width: 1px !default;
$btn-default-border-style: solid !default;
$btn-default-radius: $border-radius-default !default;
$btn-default-align: center !default;

@mixin btn {
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    border: 0;
    padding: $btn-default-padding - ($btn-default-border-width * 2);
    font: inherit;
    text-align: $btn-default-align;
    cursor: pointer;
    border-radius: $btn-default-radius;

    @if($btn-default-border-width != 0) {
        border-width: $btn-default-border-width;
        border-style: $btn-default-border-style;
        border-color: $color-gray-lighter;
    }

    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
        text-decoration: none;
    }

    @include respond-max ($screen-xs-min) {
        display: block;
        width: 100%;
        margin-top: $margin-base / 4;
        margin-bottom: $margin-base / 4;
    }
}

%btn,
.btn {
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    border: 0;
    padding: $btn-default-padding - ($btn-default-border-width * 2);
    font: inherit;
    text-align: $btn-default-align;
    cursor: pointer;
    border-radius: $btn-default-radius;

    @if($btn-default-border-width != 0) {
        border-width: $btn-default-border-width;
        border-style: $btn-default-border-style;
        border-color: $color-gray-lighter;
    }

    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
        text-decoration: none;
    }

    @include respond-max ($screen-xs-min) {
        display: block;
        width: 100%;
        margin-top: $margin-base / 4;
        margin-bottom: $margin-base / 4;
    }
}


%btn--small,
.btn--small {
    padding: $btn-default-padding--small - $btn-default-border-width  double($btn-default-padding--small) - $btn-default-border-width;
}


%btn--large,
.btn--large {
    padding: $btn-default-padding--large - $btn-default-border-width  double($btn-default-padding--large) - $btn-default-border-width;
}


%btn--full,
.btn--full {
    width: 100%;

    @if $global-border-box == false {
        padding-right: 0;
        padding-left:  0;
    }
}

%btn-block,
.btn-block {
    display: block;
    width: 100%;
}

%btn--pill,
.btn--pill {
    padding: 4px 9px;
    border-radius: 6px;
}
