.label {
    padding: 5px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    @include respond-max ($screen-xs-min) {
        font-size: 10px;
    }
}

.label--success {
    background: $color-success;
}

.label--danger {
    background: $color-danger;
}

.label--warning {
    background: $color-warning;
}

.label--info {
    background: $color-info;
}

.label--primary {
    background: $color-primary;
}
