$nav-padding-base: 10px !default;
$nav-font-size: 16px !default;
$nav-border-bottom: 1px solid $color-gray-lighter !default;


.nav {
    padding-top: $nav-padding-base;
    padding-bottom: $nav-padding-base;
    margin-bottom: $nav-padding-base * 2;
    border-bottom: $nav-border-bottom;

    @include respond-min ($screen-sm-max) {
        height: 70px;
    }
}

.nav__toggle {
    @include respond-min ($screen-sm-max) {
        padding: 0;
    }
}

.nav__link,
.nav__list {
    padding-top: $nav-padding-base;
    font-size: $nav-font-size;
}

.nav--main .form-group {
    margin-bottom: 0;
}

.step-header__progress {
    @include respond-max ($screen-xs-min) {
        padding-top: $nav-padding-base * 2;
        padding-bottom: $nav-padding-base;
    }
}

.nav--main__sort {
    > li:not(:last-child) {
        @extend %split-after;
    }
}

.nav--main__search {
    @include respond-max ($screen-sm-min) {
        padding-left: 0;
        padding-right: 0;
    }

    input {
        width: 100%;
    }
}

.nav--main__language {
    @include respond-min ($screen-sm-max) {
        text-align: center;
    }

    @include respond-max ($screen-sm-min) {
        select {
            margin: $nav-padding-base 0;
        }
    }
}
