.spinner__input {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 32px;
    padding: 5px;
    text-align: center;

    .spinner--busy & {
        @include color((#000000, 0.25));
    }
}

.spinner__btn {
    @extend %btn;
    @extend %btn--default;

    display: inline-block;
    width: 29px;
    height: 30px;
    margin: 0;
    font-size: 10px;
}


.spinner__loader {
    margin: 5px 10px 0 -30px;
}
