<md-dialog flex="30">
	<div layout="row" layout-align="center">
	    <md-subheader>
	    	<h3><span ng-if="!modal.editMode">Create</span> {{modal.name}}</h3>
	    </md-subheader>
	</div>
	<md-content>
		<form class="form-horizontal" name="modal.nodeForm">
		    <div layout="row" layout-align="center center">
		    	<div layout-align="start start" flex="100">
					<md-input-container flex>
					   <label>Name</label>
					   <md-input required name="nodeName" ng-model="modal.node.Name" autocapitalize="off"></md-input>
					</md-input-container>
				</div>
				<div class="error-msg ng-hide" layout-align="center end" ng-show="modal.formSubmitted && modal.nodeForm.nodeName.$invalid" ng-cloak>
					<i class="fa fa-warning"></i>
					<md-tooltip>
						This field is required
					</md-tooltip>
				</div>
			</div>
			<div layout="row" layout-align="center center">
		    	<div layout-align="start start" flex="100">
					<md-input-container flex>
				        <label>Description</label>
				    	<textarea required name="nodeBody" ng-model="modal.node.Body" columns="1" md-maxlength="150"></textarea>
				    </md-input-container>
				</div>
				<div class="error-msg ng-hide" layout-align="center end" ng-show="modal.formSubmitted && modal.nodeForm.nodeBody.$invalid" ng-cloak>
					<i class="fa fa-warning"></i>
					<md-tooltip>
						This field is required
					</md-tooltip>
				</div>
			</div>
			<div layout="row" layout-align="center center">
		    	<div layout-align="start start" layout="row" flex="100">
					<md-checkbox class="horizontal-checkbox" ng-change="modal.addMember(member, member.isChecked)" ng-model="member.isChecked" aria-label="{{member.userName}}" ng-repeat="member in modal.members">
					  {{member.userName}}
					</md-checkbox>
				</div>
			</div>
			<div layout="row" layout-align="center center" ng-if="modal.nodeType === 'Key Result'">
				<div layout-align="start-start" layout="row" flex="100">
					<md-switch ng-model="modal.node.priority" aria-label="Priority" ng-true-value="'High'" ng-false-value="'Low'" class="md-warn">
					   {{modal.node.priority}} Priority
					</md-switch>
				</div>
			</div>
		</form>
	<md-content>
	<div class="md-actions" style="border-top: none;" layout="row" layout-align="center end">
		<md-button class="md-raised md-warn" ng-click="modal.closeModal()" aria-label="cancel">Cancel</md-button>
		<md-button ng-if="!modal.editMode" class="md-raised md-primary" ng-click="modal.createNode()" aria-label="add">Add {{modal.name}}</md-button>
		<md-button ng-if="modal.editMode"class="md-raised md-primary" ng-click="modal.updateNode()" aria-label="add">Save</md-button>
		<md-progress-circular ng-if="modal.currentlySaving" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
	</div>
<md-dialog>