//
// Event Listing
//

.listings {
    display: table;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 10px;
}

.listing-event.block-list__item {
    @extend %clearfix;

    vertical-align: middle;
    transform-style: preserve-3d;

    @include respond-min ($screen-sm-max) {
        display: table;
        width: 100%;
    }

    @include respond-max ($screen-xs-min) {
        padding-bottom: 15px;
    }

    &:last-of-type {
        border: none;
    }
}

.listing-event__info {
    margin-top: $spacing-base;

    .listing-venue {
        display: block;
        font-weight: bold;
        font-size: $font-size-heading-4;
        line-height: 1;
    }

    .listing-supporting-act {
        display: block;
    }

    .listing-distance {
        color: $color-grey;
    }
}

.listing-event__actions {
    text-transform: uppercase;
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;

    @include respond-max ($screen-sm-min) {
        display: inline-block;
        margin-top: $margin-base / 2;

        .listing-buy {
            display: block;

            &:nth-of-type(2) {
                margin-top: $margin-base / 2;
            }
        }
    }

    @include respond-min ($screen-sm-max) {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}
