//
// CrowdSurge Branding Helpers
//

$color-brand: #0e293c !default;

$color-brand--r: red($color-brand) !default;
$color-brand--g: green($color-brand) !default;
$color-brand--b: blue($color-brand) !default;

$color-brand--rgb: rgb($color-brand--r, $color-brand--g, $color-brand--b) !default;



//
// Third Party Brand Colors
//

$color-paypal: #f0af00 !default;

$color-facebook: #3b5998 !default;
$color-twitter: #4099ff !default;
$color-myspace: #008dde !default;
$color-tumblr: #2c4762 !default;
$color-pinterest: #cb2027 !default;

$color-spotify: #80b719 !default;
$color-rdio: #006ed2 !default;
$color-soundcloud: #f60 !default;
$color-lastfm: #d51007 !default;

$color-youtube: #cd332d !default;
$color-vimeo: #4bf !default;
