//
// Type Defaults
//

$font-base-size: 15px !default;
$font-base-line-height: 22px !default;

//
// Heading Sizes
//

$font-size-heading-1: 36px !default;
$font-size-heading-2: 30px !default;
$font-size-heading-3: 24px !default;
$font-size-heading-4: 20px !default;
$font-size-heading-5: 16px !default;
$font-size-heading-6: 14px !default;

//
// Object Specific
//

$footer-font-size: 12px !default;

h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
    font-size: 70%;
    color: $color-grey;
    font-weight: normal;
}

.strong {
    font-weight: bold;
}
