<div class="green-overlay" layout="column" layout-align="center center" flex="100">
	<div layout="row" layout-align="center center">
		<img class="logo" src="assets/okra-logo-large.png">
	</div>
	<div layout="row" layout-align="center center">
		<h1 class="slogan">An OKR management tool to keep your team on track.</h1>
	</div>
	<md-button class="md-raised md-warn" ng-click="vm.googleLogin()" aria-label="log in">
		<div layout="row" layout-align="center center">
			<i ng-if="!vm.session.isAuthenticating" class="fa fa-google"></i> 
			<md-progress-circular ng-if="vm.session.isAuthenticating" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
			<span> Sign in with Google </span>
		</div>
	</md-button>
</div>