//
// To Enable Animation Modules
// Switch false > true
//


// Default animation time
$default-animation-duration   : 1s;


// Generate BEM style modifier classes
$name-prefix                  : 'animated--';


// ENABLE MODULES
$enable-all-modules           : false;


// Fade In
$enable-fade-in               : false;
$enable-fade-in-up            : false;
$enable-fade-in-up-big        : false;
$enable-fade-in-down          : false;
$enable-fade-in-down-big      : false;
$enable-fade-in-left          : false;
$enable-fade-in-left-big      : false;
$enable-fade-in-right         : false;
$enable-fade-in-right-big     : false;


// Fade Out
$enable-fade-out              : false;
$enable-fade-out-up           : false;
$enable-fade-out-up-big       : false;
$enable-fade-out-down         : false;
$enable-fade-out-down-big     : false;
$enable-fade-out-left         : false;
$enable-fade-out-left-big     : false;
$enable-fade-out-right        : false;
$enable-fade-out-right-big    : false;


// Bounce In
$enable-bounce-in             : true ;
$enable-bounce-in-up          : false;
$enable-bounce-in-down        : false;
$enable-bounce-in-left        : false;
$enable-bounce-in-right       : false;


// Bounce Out
$enable-bounce-out            : true ;
$enable-bounce-out-up         : false;
$enable-bounce-out-down       : false;
$enable-bounce-out-left       : false;
$enable-bounce-out-right      : false;


// Rotate In
$enable-rotate-in             : false;
$enable-rotate-in-up-left     : false;
$enable-rotate-in-up-right    : false;
$enable-rotate-in-down-left   : false;
$enable-rotate-in-down-right  : false;


// Rotate Out
$enable-rotate-out            : false;
$enable-rotate-out-up-left    : false;
$enable-rotate-out-up-right   : false;
$enable-rotate-out-down-left  : false;
$enable-rotate-out-down-right : false;


// Flips
$enable-flip                  : false;
$enable-flip-in-x             : true ;
$enable-flip-in-y             : false;
$enable-flip-out-x            : true ;
$enable-flip-out-y            : false;


// Lightspeed
$enable-lightspeed-in         : false;
$enable-lightspeed-out        : false;


// Attention Seekers
$enable-bounce                : false;
$enable-flash                 : false;
$enable-pulse                 : false;
$enable-rubber-band           : false;
$enable-swing                 : false;
$enable-shake                 : false;
$enable-tada                  : false;
$enable-wobble                : false;


// Special
$enable-hinge                 : false;
$enable-roll-in               : false;
$enable-roll-out              : false;


// Zoom In
$enable-zoom-in               : false;
$enable-zoom-in-down          : false;
$enable-zoom-in-left          : false;
$enable-zoom-in-right         : false;
$enable-zoom-in-up            : false;


// Zoom Out
$enable-zoom-out              : false;
$enable-zoom-out-down         : false;
$enable-zoom-out-left         : false;
$enable-zoom-out-right        : false;
$enable-zoom-out-up           : false;


@import '../../../libs/animate-scss/src/_animate.scss';
