//
// Strip the unit from a number (e.g. 18px --> 18).
//

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}



//
// Basic maths on numbers.
//

@function quarter($number) {
    @return round($number / 4);
}

@function halve($number) {
    @return round($number / 2);
}

@function double($number) {
    @return round($number * 2);
}

@function quadruple($number) {
    @return round($number * 4);
}



//
// Useful Array Functions
//

@function first($list) {
	@return nth($list, 1);
}

@function last($list) {
	@return nth($list, length($list));
}



//
// Foundation Grid Size Calculation
//

@function grid-calc($colNumber, $totalColumns) {
    @return percentage(($colNumber / $totalColumns));
}



//
// rem Calculation
//

@function convert-to-rem($value, $base-value: $rem-base)  {
    $value: strip-units($value) / strip-units($base-value) * 1rem;
    @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
    @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
    $max: length($values);

    @if $max == 1 {
        @return convert-to-rem(nth($values, 1), $base-value);
    }

    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }

    @return $remValues;
}
