//
// Old-IE friendly Media Queries
//
// Source: http://jakearchibald.github.io/sass-ie/
//

$fix-mqs: false !default;

@mixin respond-min($width) {
    @if $fix-mqs {
        @if $fix-mqs >= $width {
            @content;
        }
    }
    @else {
        @media all and (min-width: $width) {
            @content;
        }
    }
}

@mixin respond-max($width) {
    @if $fix-mqs {
        @if $fix-mqs < $width {
            @content;
        }
    }
    @else {
        @media all and (max-width: $width) {
            @content;
        }
    }
}



//
// Old IE Conditional
//
// Source: http://jakearchibald.github.io/sass-ie/
//

$old-ie: false !default;

@mixin old-ie {
    @if $old-ie {
        @content;
    }
}



//
// RGBA + Hex Fallback
//
// Source: https://gist.github.com/benhodgson87/7704637
//

@mixin color($color, $type: color) {
    $hex: first($color);

    #{$type}: $hex;

    @if length($color) > 1 {
        $alpha: nth($color, 2);

        #{$type}: rgba($hex, $alpha);
    }
}

@mixin background-color($color) {
    @include color($color, $type: background-color);
}

@mixin border-color($color) {
    @include color($color, $type: border-color);
}

@mixin border-radius($btn-border-radius) {
    border-radius: $btn-border-radius;
    -webkit-border-radius: $btn-border-radius; 
    -moz-border-radius: $btn-border-radius; 
}
