<md-dialog flex="30">
	<div layout="row" layout-align="center">
	    <md-subheader>
	    	<h3>Mission Statement</h3>
	    </md-subheader>
	</div>
	<div layout="row" layout-align="center center">
		{{modal.missionStatement}}
	</div>
	<md-content>
		<form name="modal.missionStatementForm">
		    <div layout="row" layout-align="center center">
		    	<div layout-align="start start">
					<md-input-group class="long">
					   <label>New Mission Statement</label>
					   <md-input required name="newMissionStatement" ng-model="modal.newMissionStatement" autocapitalize="off"></md-input>
					</md-input-group>
				</div>
				<div class="error-msg ng-hide" layout-align="center end" ng-show="modal.formSubmitted && modal.missionStatementForm.newMissionStatement.$invalid" ng-cloak>
					<i class="fa fa-warning"></i>
					<md-tooltip>
						This field is required
					</md-tooltip>
				</div>
			</div>
		</form>
	<md-content>
	<div class="md-actions" style="border-top: none;" layout="row" layout-align="center end">
		<md-button class="md-raised md-warn" ng-click="modal.closeModal()" aria-label="cancel">Cancel</md-button>
		<md-button class="md-raised md-primary" ng-click="modal.saveMissionStatement()" aria-label="add">Save</md-button>
	</div>
<md-dialog>