<md-dialog flex="50">
	<div layout="row" layout-align="center">
	    <md-subheader>
	    	<h3>Organization Members</h3>
	    </md-subheader>
	</div>
	<div layout="row" layout-align="start center">
		<ul class="list-horizontal">
	      <li ng-repeat="member in modal.members">
	          	<h3>{{member.userName}}</h3>
	          	<span class="sub-text">{{member.role}}</span>
	      </li>
	    </ul>
	</div>
	<md-content>
		<form class="form-horizontal" name="modal.newMemberForm">
		    <div layout="row" layout-align="center center">
		    	<div layout-align="start start">
					<md-input-group class="long">
					   <label>Username</label>
					   <md-input required name="newUserName" ng-model="modal.newUser.name" autocapitalize="off"></md-input>
					</md-input-group>
				</div>
				<div class="error-msg ng-hide" layout-align="center end" ng-show="modal.formSubmitted && modal.newMemberForm.newUserName.$invalid" ng-cloak>
					<i class="fa fa-warning"></i>
					<md-tooltip>
						This field is required
					</md-tooltip>
				</div>
			</div>
			<div layout="row" layout-align="center center">
		    	<div layout-align="start start">
					<md-input-group class="long">
					   <label>Role</label>
					   <md-input required name="newUserRole" ng-model="modal.newUser.role" autocapitalize="off"></md-input>
					</md-input-group>
				</div>
				<div class="error-msg ng-hide" layout-align="center end" ng-show="modal.formSubmitted && modal.newMemberForm.newUserRole.$invalid" ng-cloak>
					<i class="fa fa-warning"></i>
					<md-tooltip>
						This field is required
					</md-tooltip>
				</div>
			</div>
		</form>
	<md-content>
	<div class="md-actions" style="border-top: none;" layout="row" layout-align="center center">
		<md-button class="md-raised md-warn" ng-click="modal.closeModal()" aria-label="cancel">Close</md-button>
		<md-button class="md-raised md-primary" ng-click="modal.addMember()" aria-label="add">Add Member</md-button>
		<md-progress-circular ng-if="modal.currentlySaving" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
	</div>
<md-dialog>