<section class="organization-wrapper">
	<div layout="row" layout-align="center">
		<div class="tree-node active">
			Organization #1
		</div>
		<div layout="column" layout-align="start end">
			<md-button href class="md-raised md-warn" aria-label="toggle">
	        	<i class="fa fa-minus"></i>
	    	</md-button>
	    	<md-button href class="md-raised md-primary" aria-label="edit">
				<i class="fa fa-pencil"></i>
	    	</md-button>
	    </div>
	</div>
	<div layout="row" layout-align="center">
	    <md-button class="md-raised" ng-click="vm.openMissionStatement()">
		    Mission Statement
		</md-button>
	</div>
	<!-- objectives -->
	<div layout="row" layout-align="center center">
		<div class="objective" layout="row" layout-align="start">
			<div class="tree-node active" layout-align="start">
				Objective #1
			</div>
			<div layout="column" layout-align="end end">
	            <md-button href class="md-raised md-warn" aria-label="toggle">
	            	<i class="fa fa-minus"></i>
	        	</md-button>
	        	<md-button href class="md-raised md-primary" aria-label="edit">
					<i class="fa fa-pencil"></i>
	        	</md-button>
	        </div>
		</div>

		<div class="objective" layout="row" layout-align="start" ng-repeat="objective in [1, 2, 3]">
			<div class="tree-node" layout-align="start">
				Objective {{$index + 2}}
			</div>
			<div layout="column" layout-align="start end">
	            <md-button href class="md-raised" aria-label="toggle">
	            	<i class="fa fa-plus"></i>
	        	</md-button>
	        </div>
		</div>


	</div>

	<!-- key results -->
	<div layout="row" layout-align="center center">
		<div class="key-result" layout="row" layout-align="start">
			<div class="tree-node active">
				Key Result #1
			</div>
			<div layout="column" layout-align="end end">
				<md-button href class="md-raised md-warn" aria-label="toggle">
	            	<i class="fa fa-minus"></i>
	        	</md-button>
	        	<md-button href class="md-raised md-primary" aria-label="edit">
					<i class="fa fa-pencil"></i>
	        	</md-button>
	        </div>
		</div>
		<div class="key-result" layout="row" layout-align="start">
			<div class="tree-node">
				Key Result #2
			</div>
			<div layout="column" layout-align="start end">
				<md-button href class="md-raised" aria-label="toggle">
	            	<i class="fa fa-plus"></i>
	        	</md-button>
	        </div>
		</div>
	</div>

	<!-- Tasks -->
	<div layout="column" layout-align="center center">
		<div layout="row" layout-align="start center" ng-repeat="task in [1, 2, 3, 4]">
			<md-checkbox ng-model="vm.isChecked[$index]" aria-label></md-checkbox>
			<div class="task-node">
				Task {{$index + 1}}
			</div>
		</div>
	</div>
</section>