<section class="organization-wrapper">
	<div class="organization active" style="margin-bottom: 5px;" layout="row" layout-align="center" id="organizationNode">
		<div class="tree-node">
			{{vm.organization}}
		</div>
		<div layout="column" layout-align="start end">
			<md-button href class="md-raised md-primary" 
					ok-collapse 
					ok-toggle-color
					linked-to="organizationNode"
					all-linked-nodes="['organizationNode', 'treesNode']"
					aria-label="toggle">
	        	<i class="fa fa-plus"></i>
	    	</md-button>
	    </div>
	    <div layout="column" layout-align="start end">
	    	<md-button class="md-raised md-primary" ng-click="vm.openOrganizationMembersModal()" aria-label="members">
		    	<i class="fa fa-users"></i>
		    </md-button>
		    <md-button class="md-raised md-primary" ng-class="{'glowing-green': vm.trees.length === 0}" ng-click="vm.openAddTreeModal()" aria-label="Add Tree">
		    	<i class="fa fa-tree"></i>
		    	<md-tooltip>
					Add a Tree
				</md-tooltip>
		    </md-button>
	    </div>
	</div> 
	<!--Trees -->
	<div layout="column" style="max-height: 100000px;" class="collapse" id="treesNode">
		<div class="centered-row" layout="row" layout-align="start center" ng-repeat="treeRow in vm.trees">
			<div class="objective" layout="row" layout-align="start" ng-repeat="tree in treeRow">
				<a class="tree-node" ng-hide="tree.isEditMode" ui-sref="organization/tree({ treeIdEnc: (tree.Id | okEncrypt), organization: vm.organization })">
					{{tree.Name}}
					<md-tooltip ng-if="tree.Name.length > 14">
						{{tree.Name}}
					</md-tooltip>
				</a>
				<div class="tree-node" ng-show="tree.isEditMode">
					<md-input-container>
					   <md-input required class="short" name="treeName" ng-model="tree.newName" autocapitalize="off"></md-input>
					</md-input-container>
				</div>
				<div layout="column" layout-align="start end" ok-edit-node edit="fa-pencil" cancel="fa-close" save="fa-check" node="tree">
		        	<md-button ng-show="!tree.isEditMode" href class="md-raised md-primary fade-in" aria-label="edit">
						<i class="fa fa-pencil"></i>
		        	</md-button>
		        	<md-button ng-show="tree.isEditMode" href class="md-raised md-primary fade-in" aria-label="edit">
						<i class="fa fa-check"></i>
		        	</md-button>
		        	<md-button ng-show="tree.isEditMode" href class="md-raised md-warn fade-in" aria-label="edit">
						<i class="fa fa-close"></i>
		        	</md-button>
		        </div>
			</div>
		</div>
	</div>
</section>