<section class="organization-wrapper">
	<div class="organization active" layout="row" layout-align="center" id="organizationNode">
		<div class="tree-node">
			Tree #1
		</div>
		<div layout="column" layout-align="start end">
			<md-button href class="md-raised md-primary" 
					ok-collapse 
					ok-toggle-color
					linked-to="organizationNode"
					all-linked-nodes="vm.linkedNodeIds"
					aria-label="toggle">
	        	<i class="fa fa-plus"></i>
	    	</md-button>
	    	<md-button href class="md-raised md-primary" aria-label="edit">
				<i class="fa fa-pencil"></i>
	    	</md-button>
	    </div>
	    <div layout="column" layout-align="start end">
	    	<md-button class="md-raised md-primary" ng-click="vm.openOrganizationMembersModal()" aria-label="members">
		    	<i class="fa fa-users"></i>
		    </md-button>
		    <md-button class="md-raised md-primary" ng-click="vm.openMissionStatementModal()" aria-label="mission statement">
		    	<i class="fa fa-briefcase"></i>
		    </md-button>
	    </div>
	</div> 
	<!-- objectives -->
	<div layout="row" class="collapse" layout-align="center center" id="objectiveNode">

		<div class="objective" layout="row" layout-align="start" ng-repeat="objective in [1, 2, 3, 4]">
			<div class="tree-node" layout-align="start">
				Objective {{$index + 1}}
			</div>
			<div layout="column" layout-align="start end">
	            <md-button href class="md-raised" 
	            		ok-collapse
	            		ok-toggle-color
	            		linked-to="objectiveNode" 
	            		all-linked-nodes="vm.linkedNodeIds"
	            		aria-label="toggle">
	            	<i class="fa fa-plus"></i>
	        	</md-button>
	        	<md-button href class="md-raised md-primary" aria-label="edit">
					<i class="fa fa-pencil"></i>
	        	</md-button>
	        </div>
		</div>


	</div>

	<!-- key results -->
	<div layout="row" class="collapse" layout-align="center center" id="keyResultNode">
		<div class="key-result" layout="row" layout-align="start">
			<div class="tree-node">
				Key Result #1
			</div>
			<div layout="column" layout-align="end end">
				<md-button href class="md-raised" 
						ok-collapse
						ok-toggle-color 
						linked-to="keyResultNode" 
						all-linked-nodes="vm.linkedNodeIds"
						aria-label="toggle">
	            	<i class="fa fa-plus"></i>
	        	</md-button>
	        	<md-button href class="md-raised md-primary" aria-label="edit">
					<i class="fa fa-pencil"></i>
	        	</md-button>
	        </div>
		</div>
		<div class="key-result" layout="row" layout-align="start">
			<div class="tree-node">
				Key Result #2
			</div>
			<div layout="column" layout-align="start end">
				<md-button href class="md-raised" 
						ok-collapse
						ok-toggle-color
						linked-to="keyResultNode" 
						all-linked-nodes="vm.linkedNodeIds"
						aria-label="toggle">
	            	<i class="fa fa-plus"></i>
	        	</md-button>
	        	<md-button href class="md-raised md-primary" aria-label="edit">
					<i class="fa fa-pencil"></i>
	        	</md-button>
	        </div>
		</div>
	</div>

	<!-- Tasks -->
	<div layout="column" class="collapse" 
			ok-collapse 
			linked-to="taskNode" 
			layout-align="space-around center" 
			all-linked-nodes="vm.linkedNodeIds"
			id="taskNode">
		<div layout="row" layout-align="start center" ng-repeat="task in [1, 2, 3, 4]">
			<md-checkbox ng-model="vm.isChecked[$index]" aria-label></md-checkbox>
			<div class="task-node">
				Task {{$index + 1}}
			</div>
		</div>
	</div>
</section>