<section class="organization-wrapper">
	<div class="organization active" style="margin-bottom: 5px;" layout="row" layout-align="center" id="organizationNode">
		<div class="tree-node">
			Organization #1
		</div>
		<div layout="column" layout-align="start end">
			<md-button href class="md-raised md-primary" 
					ok-collapse 
					ok-toggle-color
					linked-to="organizationNode"
					all-linked-nodes="['organizationNode', 'treesNode']"
					aria-label="toggle">
	        	<i class="fa fa-plus"></i>
	    	</md-button>
	    	<md-button href class="md-raised md-primary" aria-label="edit">
				<i class="fa fa-pencil"></i>
	    	</md-button>
	    </div>
	    <div layout="column" layout-align="start end">
	    	<md-button class="md-raised md-primary" ng-click="vm.openOrganizationMembersModal()" aria-label="members">
		    	<i class="fa fa-users"></i>
		    </md-button>
		    <md-button class="md-raised md-primary" ng-click="vm.openMissionStatementModal()" aria-label="mission statement">
		    	<i class="fa fa-briefcase"></i>
		    </md-button>
	    </div>
	    <div layout="column" layout-align="start end">
	    	<md-button class="md-raised md-primary" aria-label="Add Tree">
		    	<i class="fa fa-tree"></i>
		    	<md-tooltip>
					Add a Tree
				</md-tooltip>
		    </md-button>
	    </div>
	</div> 
	<!--Trees -->
	<div layout="column" style="max-height: 100000px;" class="collapse" id="treesNode">
		<div class="centered-row" layout="row" layout-align="start center" ng-repeat="treeRow in vm.formattedTrees">
			<div class="objective" layout="row" layout-align="start" ng-repeat="tree in treeRow">
				<div class="tree-node">
					{{tree.Name}}
				</div>
				<div layout="column" layout-align="start end">
		        	<md-button href class="md-raised md-primary" aria-label="edit">
						<i class="fa fa-pencil"></i>
		        	</md-button>
		        </div>
			</div>
		</div>
	</div>
</section>