/**
 * Button Looks
 *
 * Bootstrap style buttons with Inuit style BEM-OOCSS
 */

$btn-default-color: #fff !default;
$btn-default-background: $color-grey !default;
$btn-default-border-color: darken($btn-default-background, 5%) !default;

$btn-primary-color: #fff !default;
$btn-primary-background: $color-primary !default;
$btn-primary-border: darken($btn-primary-background, 5%) !default;

$btn-success-color: #fff !default;
$btn-success-background: $color-success !default;
$btn-success-border: darken($btn-success-background, 5%) !default;

$btn-info-color: #fff !default;
$btn-info-background: $color-info !default;
$btn-info-border: darken($btn-info-background, 5%) !default;

$btn-warning-color: #fff !default;
$btn-warning-background: $color-warning !default;
$btn-warning-border: darken($btn-warning-background, 5%) !default;

$btn-danger-color: #fff !default;
$btn-danger-background: $color-danger !default;
$btn-danger-border: darken($btn-danger-background, 5%) !default;

@mixin button-style($variant, $color, $background, $border) {

    /**
     * Button + Button Group Styling (#{$variant})
     */

    // Base Button Style Extender
    %btn-#{$variant}--base {
        @include color($color);
        @include background-color($background);
        @include border-color($border);
    }

    // Active Button Style Extender
    %btn-#{$variant}--active {
        @include color($color);
        @include background-color(darken($background, 5%));
        @include border-color(darken($background, 8%));
        outline: none;
    }

    // Disabled Button Style Extender
    %btn-#{$variant}--disabled {
        @include background-color($background);
        @include border-color($border);
    }


    // Standalone Buttons
    %btn--#{$variant},
    .btn--#{$variant} {
        @extend %btn-#{$variant}--base;

        &:hover,
        &:focus,
        &:active,
        &.btn--active {
            @extend %btn-#{$variant}--active;
        }

        &.btn--loading {
            @extend %btn--loading;
        }

        &[disabled],
        &.btn--disabled,
        fieldset[disabled] & {
            &,
            &:hover,
            &:focus,
            &:active,
            &.btn--active {
                @extend %btn-#{$variant}--disabled;
            }
        }
    }

    // Buttons nested in button groups
    .btn-group--#{$variant} {
        > .btn {
            @extend %btn-#{$variant}--base;
        }

        > .btn:hover,
        > .btn:focus,
        > .btn:active,
        > .btn--active {
            @extend %btn-#{$variant}--active;
        }

        > .btn--loading {
            @extend %btn--loading;
        }

        &[disabled] > .btn,
        > .btn--disabled {
            &,
            &:hover,
            &:focus,
            &:active,
            &.btn--active {
                @extend %btn-#{$variant}--disabled;
            }
        }
    }
}

@include button-style('default', $btn-default-color, $btn-default-background, $btn-default-border-color);
@include button-style('primary', $btn-primary-color, $btn-primary-background, $btn-primary-border);
@include button-style('success', $btn-success-color, $btn-success-background, $btn-success-border);
@include button-style('info', $btn-info-color, $btn-info-background, $btn-info-border);
@include button-style('warning', $btn-primary-color, $btn-primary-background, $btn-primary-border);
@include button-style('danger', $btn-success-color, $btn-success-background, $btn-success-border);

.btn .loader {
    display: none;
}

%btn--loading,
.btn--loading {
    .loader {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: -3px;
    }
}

.btn--link {
    border: none;
}

.btn--no-right-radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn--no-left-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn a {
    color: inherit;

    &:hover {
        color: inherit;
    }

    &:active {
        color: inherit;
    }
}
