.modal--loader {
    background: transparent;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;

    & .overlay {
        opacity: 0.4 !important;
    }
}

.modal--loader__inner {
    position: relative;
    margin-top: 100px;
}

.modal--loader .loader__bar {
    border: 1px solid rgba(0,0,0, 0.5);
    box-shadow: none;
}
