@include respond-min ($screen-xs-max) {
    .panel__header {
        float: left;
        width: 100%;
        border-bottom: 1px solid $color-grey;
        height: 100%;
        float: left;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid $color-grey;
    }

    .panel__content {
        float: left;
        background-color: #fff;
        padding: $padding-base * 2;
        border: 1px solid $color-grey;
        border-top: transparent;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 100%;
    }

    .panel__tab {
        float: left;
        width: 50%;
        margin-bottom: -1px;
        text-align: center;
        padding: $padding-base;
        display: inline-block;
        background-color: $color-gray-lighter;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: $color-grey;
            color: #fff;
        }
    }

    .panel__tab--active {
        background-color: #fff;
        border: 1px solid $color-grey;
        border-bottom: transparent;

        &:hover {
            background-color: #fff;
            color: $color-grey-darker;
        }
    }
}
