/**
 * Centered Content Container
 */

%container,
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $margin-base;
    margin-bottom: $margin-base;
    max-width: rem-calc(1000);
}


/**
 * Divided Content Blocks
 */

%divided,
.divided {
    border-color: $color-gray-lighter;
    border-style: solid;
    border-width: 0;

    padding-top: $padding-base;
    padding-bottom: $padding-base;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

%divided-top,
.divided-top {
    @extend .divided;

    padding-bottom: 0;
    border-bottom-width: 0;
}

%divided-bottom,
.divided-bottom {
    @extend .divided;

    padding-top: 0;
    border-top-width: 0;
}



/**
 * Split Inline Text
 */

%split,
.split {
    content: attr(data-split);
    color: $color-gray-lighter;
}

%split-before,
.split-before {
    margin-left: 10px;

    &:before {
        @extend %split;

        padding-right: 10px;
    }
}

%split-after,
.split-after {
    margin-right: 10px;

    &:after {
        @extend %split;

        padding-left: 10px;
    }
}
