.segmented-controls {
    margin-top: $margin-base / 2;
    margin-bottom: $margin-base / 2;
    .segmented-control__left,
    .segmented-control__right {
        @extend .col;
        @extend .xs-6;
        @extend .col--no-gutter;
        .btn {
            display: block;
            width: 100%;
            border-color: $color-grey;
            border-width: 2px;
            color: $color-grey;
            background-color: #fff;
        }
        .btn.btn--active {
            background-color: $color-grey;
            color: #fff;
        }
    }
    .segmented-control__left {
        .btn {
            @extend  .btn--no-right-radius;
        }
    }
    .segmented-control__right {
        .btn {
            @extend  .btn--no-left-radius;
        }
    }
}
