/*============================================================*/
/*===================Table Of Contents========================*/
/*============================================================*/
/*=Variables==================18==============================*/
/*=Mixins=====================26==============================*/
/*=Toolbar Styles=============41==============================*/
/*=Dialog/Modal Styles =======45==============================*/
/*=Toast Styles ==============61==============================*/
/*=Btn Styles ================68==============================*/
/*=Input and form fields =====76==============================*/
/*=Global Styles =============84==============================*/
/*=Organization ==============149=============================*/
/*=Login =====================202=============================*/
/*=404Error===================239=============================*/
md-item {
  margin: 0px 10px;
}

.md-dialog-container md-dialog:first-child {
  padding: 15px;
}
.md-dialog-container md-content {
  padding-bottom: 0px;
}
.md-dialog-container md-tooltip .md-background {
  height: 30px;
}

md-toast .md-button {
  margin-top: -20px;
  margin-right: -20px;
}

.md-raised {
  padding: 5px 10px;
}

.md-button {
  text-transform: none;
}

md-input-group.long > input {
  width: 264px;
}

md-checkbox:focus .md-label {
  border-color: transparent;
}

.horizontal-radio-group md-radio-button:first-child {
  margin-top: 15px;
}

.error-msg {
  color: #ef5350;
  opacity: 1;
}

.error-msg.ng-hide-add.ng-hide-add-active,
.error-msg.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: opacity linear 0.5s;
  -moz-transition: opacity linear 0.5s;
  -ms-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.error-msg.ng-hide {
  opacity: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

ul.list-horizontal {
  list-style: none;
}
ul.list-horizontal li {
  float: left;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 5px;
  -webkit-box-shadow: 0px 2px 6px #888888;
  -moz-box-shadow: 0px 2px 6px #888888;
  -ms-box-shadow: 0px 2px 6px #888888;
  box-shadow: 0px 2px 6px #888888;
  max-width: 170px;
}
ul.list-horizontal li h3 {
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.list-horizontal li span.sub-text {
  font-size: 12px;
  font-weight: 500;
}

.collapse {
  overflow: hidden;
  max-height: 0 !important;
}

.well {
  background-color: white;
  padding: 50px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 40%;
}

.md-actions-form {
  border-top: none;
  margin-top: 60px;
}
.md-actions-form button {
  margin-right: 15px;
}

.organization-wrapper > [layout=row], .organization-wrapper > [layout=column] {
  -webkit-transition: max-height ease-in-out 0.9s;
  -moz-transition: max-height ease-in-out 0.9s;
  -ms-transition: max-height ease-in-out 0.9s;
  transition: max-height ease-in-out 0.9s;
  max-height: 200px;
}

.organization-wrapper .centered-row {
  padding: 0px 200px;
}
.organization-wrapper .tree-node {
  padding: 20px 20px;
  background-color: #c2c5c3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: white;
  width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.organization-wrapper .objective.active .tree-node,
.organization-wrapper .key-result.active .tree-node,
.organization-wrapper .organization.active .tree-node {
  background-color: #0d8120;
}
.organization-wrapper .task-node {
  background-color: #139e2a;
  padding: 10px 10px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  min-width: 100px;
  margin-top: 10px;
}
.organization-wrapper .objective + .objective, .organization-wrapper .key-result + .key-result {
  margin-left: 25px;
}
.organization-wrapper [layout-align="center center"], .organization-wrapper [layout-align="center"], .organization-wrapper [layout-align="start center"] {
  margin-top: 25px;
}
.organization-wrapper .md-button {
  padding: 3px 8px;
  margin-left: 10px;
}
.organization-wrapper .md-button + .md-button {
  margin-top: 5px;
}

.green-overlay {
  background-color: #0d8120;
  color: #0d8120;
  height: 100%;
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.green-overlay h1 {
  color: white;
}
.green-overlay input {
  color: #0d8120;
}
.green-overlay .side-nav-btn {
  margin: 0.85em 0;
  margin-left: -7px;
}

.error-not-found {
  text-align: center;
}
.error-not-found img {
  margin: 15px auto;
  width: 300px;
}
