/*============================================================*/
/*===================Table Of Contents========================*/
/*============================================================*/
/*=Variables==================12==============================*/
/*=Mixins=====================19==============================*/
/*=Toolbar Styles=============27==============================*/
/*=Dialog/Modal Styles =======31==============================*/
/*=Toast Styles ==============41==============================*/
/*=Btn Styles ================49==============================*/
/*=Organization ==============65==============================*/
/*============================================================*/
md-item {
  margin: 0px 10px;
}

.md-dialog-container md-dialog:first-child {
  padding: 15px;
}
.md-dialog-container md-content {
  padding-bottom: 0px;
}
.md-dialog-container md-tooltip .md-background {
  height: 30px;
}

md-toast .md-button {
  margin-top: -20px;
  margin-right: -20px;
}

.md-raised {
  padding: 5px 10px;
}

.md-button {
  text-transform: none;
}

md-input-group.long > input {
  width: 264px;
}

md-checkbox:focus .md-label {
  border-color: transparent;
}

.error-msg {
  color: #ef5350;
  opacity: 1;
}

.error-msg.ng-hide-add.ng-hide-add-active,
.error-msg.ng-hide-remove.ng-hide-remove-active {
  transition: opacity linear 0.5s;
}

.error-msg.ng-hide {
  opacity: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

ul.list-horizontal {
  list-style: none;
}
ul.list-horizontal li {
  float: left;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 5px;
  -ms-box-shadow: 0px 2px 6px #888888;
  box-shadow: 0px 2px 6px #888888;
  max-width: 170px;
}
ul.list-horizontal li h3 {
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.list-horizontal li span.sub-text {
  font-size: 12px;
  font-weight: 500;
}

.collapse {
  overflow: hidden;
  max-height: 0 !important;
}

.organization-wrapper [layout=row], .organization-wrapper [layout=column] {
  transition: max-height ease-in-out 0.9s;
  max-height: 100px;
}
.organization-wrapper .tree-node {
  padding: 20px 20px;
  background-color: #c2c5c3;
  border-radius: 5px;
  color: white;
}
.organization-wrapper .tree-node.active {
  background-color: #0d8120;
}
.organization-wrapper .task-node {
  background-color: #139e2a;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  min-width: 100px;
  margin-top: 10px;
}
.organization-wrapper .objective + .objective, .organization-wrapper .key-result + .key-result {
  margin-left: 50px;
}
.organization-wrapper [layout-align="center center"], .organization-wrapper [layout-align="center"] {
  margin-top: 25px;
}
.organization-wrapper .md-button {
  padding: 3px 8px;
  margin-left: 10px;
}
.organization-wrapper .md-button + .md-button {
  margin-top: 5px;
}
